<h1>Welcome to "name" for questions on equity</h1>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

Search for your questions
<%= form_tag "/", method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

Ask a question
<%= render  'form' %>

Here's a list of all the questions 
<% render 'list' %>

<br/><br/>