<div class="col-md-8">
<h3><%= @question.text %><br>
<small><%= @question.topic %></small></h3>

<% @question.answers.each do |answer| %>
	<p><%= answer.answertext %></p>
<% end %>

<% if @question.user_id == current_user.id %>
	<%= link_to "Edit", edit_question_path  %>
	<%= link_to "Remove", remove_question_path  %>
	<% else %>
	<%= form_for [@question, @answer] do |f| %>
	<%= f.text_area :answertext, placeholder: "Answer question", :rows => 6, :cols => 60 %>
	<%= f.submit 'Submit' %>
	<% end %>
<% end %>

<%= link_to "back", questions_path %>
 
