<div class="center jumbotron">
<h1>TakeStock</h1>

<h2>
<%if user_signed_in? %>
	<%= link_to "Ask a question", questions_path%>
	<%= link_to "Connect with a pro", questions_path %>
	<%= link_to "Data", questions_path %>
<%end%>
</h2>

</div>


<% if current_user %>
	<p1>You're logged in! </p1>
<% else %>
	<%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-primary"  %>
	<br/>
	<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>